* {
    /*border: 1px solid;*/
    font-family: "Roboto";
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

header, main, footer {
    flex:1;
}

header {
    display: flex;
    justify-content: space-between;
    padding:5vw;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.navigations {
    display:flex;
    justify-content: space-between;
    gap:5px;
    color: #E5E7EB;
    font-size: 18px;
}

.section1 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    padding:5vw;
    padding-bottom: 20px;
    padding-top: 20px;
}

.section1c1, .section1c2 {
    flex-basis: 50%;
    flex: 1;
    min-width: 200px
}

.section1c1 {
    display:flex;
    flex-direction: column;
}

.section1c1Title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

p {
    color: #F9FAF8;
    padding-bottom: 5px;
}

button {
    background-color: #3882f6;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    color: #F9FAF8;
    border-width: thin;
    height: 30px;
    border-color: white;
    transition-duration: 1s;
}

button:hover {
    background-color: white;
    color: #1F2937;
    transform: scale(1.3);
}

.section2 {
    display:flex;
    flex-direction: column;
    background-color: #F9FAF8;
    padding:10vw;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

img {
    max-width: 100%;
    border-radius: 10px;
    border-color: #3882f6;
    border-width: medium;
}

.section2Header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding-bottom: 20px;
}

.section2Column {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.itemSet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    transition-duration: 1s;
}
  
.itemSet:hover {
    transform: scale(1.3);
}

.itemText {
    color:#1F2937
}

.imagePlaceHolder2 {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section3 {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding:10vw;
    padding-top: 20px;
    padding-bottom: 20px;
}

.quoteContent {
    text-align: left;
    font-style: light italic;
    color: #1F2937;
    font-size: 36px;
}

.quoteAuthor {
    text-align: right;
    color: #1F2937;
    font-weight: bold;
}

.section4 {
    display: flex;
    background-color: #F9FAF8;
    padding:5vw;
    padding-bottom: 20px;
    padding-top: 20px;
}

.section4Container {
    background-color: #3882f6;
    border-radius: 12px;
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
    color: #F9FAF8;
    align-items: center;
    gap:10px
}

.section4c1Text {
    font-weight: 600;
    padding-bottom: 3px;
}

footer {
    display: flex;
    background-color: #1F2937;
    padding: 0;
}

.footer {
    flex:1;
    color: #E5E7EB;
    padding: 20px;
    text-align: center;
}